<section class="hero">
  <h1 class="visually-hidden">Createx Строительное Бюро</h1>
  <div class="hero-slider">
    <button class="btn-reset slider-nav__btn hero__prev slider-btn">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="btn-reset slider-nav__btn hero__next slider-btn">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <div class="swiper-pagination hero__pag"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="container">
            <div class="hero__content">
              <h1 class="main-title main-title--home">Create<span>x</span> Construction</h1>
              <p class="main-descr main-descr--home">
                Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании направлений прогрессивного развития.
              </p>
              <div class="hero__btns">
                <button class="btn-reset btn btn--stroke btn--stroke-light">Узнайте больше о нас</button>
                <button class="btn-reset btn btn--fill">Отправить запрос</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="container">
            <div class="hero__content">
              <h1 class="main-title main-title--home">Create<span>x</span> Construction</h1>
              <p class="main-descr main-descr--home">
                Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании направлений прогрессивного развития.
              </p>
              <div class="hero__btns">
                <button class="btn-reset btn btn--stroke btn--stroke-light">Узнайте больше о нас</button>
                <button class="btn-reset btn btn--fill">Отправить запрос</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="container">
            <div class="hero__content">
              <h1 class="main-title main-title--home">Create<span>x</span> Construction</h1>
              <p class="main-descr main-descr--home">
                Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании направлений прогрессивного развития.
              </p>
              <div class="hero__btns">
                <button class="btn-reset btn btn--stroke btn--stroke-light">Узнайте больше о нас</button>
                <button class="btn-reset btn btn--fill">Отправить запрос</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="container">
            <div class="hero__content">
              <h1 class="main-title main-title--home">Create<span>x</span> Construction</h1>
              <p class="main-descr main-descr--home">
                Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании направлений прогрессивного развития.
              </p>
              <div class="hero__btns">
                <button class="btn-reset btn btn--stroke btn--stroke-light">Узнайте больше о нас</button>
                <button class="btn-reset btn btn--fill">Отправить запрос</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
